* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#banner {
    background-image: url('/img/banner.jpg');
    background-size: cover;
}

h1, h2, p, a {
    font-family: "Afacad Flux", sans-serif;
}

#hamburguesa {
    display: none;
}